<!DOCTYPE html>
<html lang="en">
{% if not session.logueado  %}
<script>
    window.location.replace('{{ base_url() }}');

</script>
{% endif %}

<head>
    <title>{% block title %}{% endblock %} - {{ session.nombre }} </title>
    
    {% block head %}
    {% endblock %}
</head>

<body class="">

    <div id="content">
        {% block content %}
        
        
        {% endblock %}
        <center>&copy; Copyright 2011 by <a href="http://domain.invalid/">{{ session.nombre }}</a>.</center>
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}

    </div>


</body>
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="{{ base_url() }}assets/js/core/popper.min.js"></script>
<script src="{{ base_url() }}assets/js/core/bootstrap.min.js"></script>
<script src="{{ base_url() }}assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="{{ base_url() }}assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="{{ base_url() }}assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ base_url() }}assets/js/now-ui-dashboard.min.js?v=1.3.0" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script src="{{ base_url() }}assets/js/bootstrap-datetimepicker.js"></script>
    <style>
    .datagrid table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
    }

    .datagrid {
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        background: #fff;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .datagrid table td{
        border: 1px solid #006699;
    }
    .datagrid table th {
        padding: 3px 10px;
    }

    .datagrid table thead th {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #17A2B8), color-stop(1, #0A5373));
        background: -moz-linear-gradient(center top, #17A2B8 5%, #0A5373 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17A2B8', endColorstr='#0A5373');
        background-color: #17A2B8;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid #0070A8;
    }

    .datagrid table thead th:first-child {
         border: 1px solid #006699;
    }

    
</style>
{% block java %}
    
{% endblock %}

</html>
