<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="ZAbrinsky Festival Internacional de Cine.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="zaficfestival.com" /> <!-- website name -->
    <meta property="og:site" content="https://zaficfestival.com/" /> <!-- website link -->
    <meta property="og:title" content="Zafic Festival" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="ZAbrinsky Festival Internacional de Cine 2020" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="https://zaficfestival.com/assets/images/logo.png" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://zaficfestival.com/assets/images/logo.png" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="organization" />

    <!-- Website Title -->
    <title>Zafic Festival</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/swiper.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/magnific-popup.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/styles.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/basic.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/dropzone.css" rel="stylesheet">




    <!-- Favicon  -->
    <link rel="icon" href="{{base_url()}}assets/images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand col-lg-6" href="{{base_url()}}"><img src="{{base_url()}}assets/images/logo.png" alt="30%" width="70%" height="60%"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#recon">Reconocimientos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contáctenos</a>
                </li>
            </ul>

        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="twitch-embed"></div>

                        <!-- Load the Twitch embed script -->
                        <script src="https://player.twitch.tv/js/embed/v1.js"></script>

                        <!-- Create a Twitch.Player object. This will render within the placeholder div -->
                        <script type="text/javascript">
                            new Twitch.Player("twitch-embed", {
                                channel: "zaficfestival",
                                height: 500,
                                width: "100%",
                                theme: "dark",

                            });

                        </script>
                    </div> <!-- end of col -->
                    <div class="col-lg-12">
                        <iframe frameborder="0" scrolling="no" id="chat_embed" src="https://www.twitch.tv/embed/zaficfestival/chat?parent=zaficfestival.com" height="300" width="100%">
                        </iframe>
                    </div>

                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="turquoise">NUESTROS ALIADOS</h3>

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive aliados" src="{{base_url()}}assets/images/crea_labs.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive aliados" src="{{base_url()}}assets/images/chikara.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive aliados" src="{{base_url()}}assets/images/customer-logo-3.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive aliados" src="{{base_url()}}assets/images/customer-logo-4.png" alt="alternative">
                                    </div>
                                </div>

                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->



    <!-- Video -->


    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">CAPSULA CINEMATOGRÁFICA </h2>
                </div> <!-- end of col -->
            </div>
             {% if ficcion %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="turquoise">Ficción:</h3>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                {% for fic in ficcion %}
                <div class="col-lg-3">
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{{ fic.ATVT_link }}" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}{{ fic.ATVT_image }}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <h4>{{ fic.ATVT_title }} </h4>
                    <h5>{{ fic.ATVT_description }}</h5>
                    <h6>{{ fic.ATVT_invited }}</h6>
                    <!-- end of video preview -->
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
            {% endif %}
            {% if documental %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="turquoise">Documental:</h3>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                {% for doc in documental %}
                <div class="col-lg-3">
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{{ doc.ATVT_link }}" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}{{ doc.ATVT_image }}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <h4>{{ doc.ATVT_title }} </h4>
                    <h5>{{ doc.ATVT_description }}</h5>
                    <h6>{{ doc.ATVT_invited }}</h6>
                    <!-- end of video preview -->
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
                {% endif %}
             {% if experimental %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="turquoise">Experimental:</h3>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
           
            <div class="row">
                {% for exp in experimental %}
                <div class="col-lg-3">
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{{ exp.ATVT_link }}" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}{{ exp.ATVT_image }}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <h4>{{ exp.ATVT_title }} </h4>
                    <h5>{{ exp.ATVT_description }}</h5>
                    <h6>{{ exp.ATVT_invited }}</h6>
                    <!-- end of video preview -->
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
            {% endif %}
            {% if videoclip %}
           <div class="row">
                {% for vid in videoclip %}
                <div class="col-lg-3">
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{{ vid.ATVT_link }}" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}{{ vid.ATVT_image }}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <h4>{{ vid.ATVT_title }} </h4>
                    <h5>{{ vid.ATVT_description }}</h5>
                    <h6>{{ vid.ATVT_invited }}</h6>
                    <!-- end of video preview -->
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
            {% endif %}
            {% if publicitaria %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="turquoise">Publicitaria:</h3>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                {% for pub in publicitaria %}
                <div class="col-lg-3">
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="{{ pub.ATVT_link }}" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}{{ pub.ATVT_image }}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <h4>{{ pub.ATVT_title }} </h4>
                    <h5>{{ pub.ATVT_description }}</h5>
                    <h6>{{ pub.ATVT_invited }}</h6>
                    <!-- end of video preview -->
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
            {% endif %}

        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of video -->


    <!-- About -->
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">Nuestro equipo</h2>
                    <p class="p-heading p-large">Conoce nuestro gran equipo de trabajo, con el cual estamos haciendo posible nuestro festival zafic 4.0</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">



                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/pipe.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Felipe Suarez</strong></p>
                        <p class="job-title">Cineasta y Gestor cultural
                            Fundador y director de Zafic Festival.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/felipe.suarez.f/?igshid=77k25ei8eg8r">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/mariafernanda.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>María Fernanda Cardona</strong></p>
                        <p class="job-title">Estudiante de contaduria publica
                            Amante de los libros y las finanzas. Me gusta la publicidad y el arte.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/mafecardona97/?igshid=qmp99924mvaz">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/lauraruge.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Laura Ruge</strong></p>
                        <p class="job-title">Estudiante de Ingeniería Industrial
                            Soy sensible hacia la labor social y tengo un gusto particular por la danza y el arte en general.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/laura.ruge.9/?igshid=lrj3h8g5l12o">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/jesus.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Jesus Castellanos</strong></p>
                        <p class="job-title">Ingeniero de sistemas enfocado en desarrollo y calidad de software, fotógrafo y representante legal de Chikara.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/yisus_photo/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/donjuan.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Juan Albornoz</strong></p>
                        <p class="job-title">Primer integrante del equipo Zafic Festival
                            En la actualidad ya soy adulto mayor, Soy un apasionado por la escritura, la lectura y el cine, me gusta coleccionar y clasificar las películas de formas únicas.
                        </p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/jerson.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Jerson Berbeo Rozo</strong></p>
                        <p class="job-title">Director de Crearlabs con diplomados internacionales en proyectos de innovación.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/crearlabs/?igshid=1liy0fxwhsyi9">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/ricardo.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Ricardo Mayorca</strong></p>
                        <p class="job-title">Ingeniero electrónico y profesor de idioma y cultura japonés en Chikara.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->


                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/juan_cortes.png" alt="alternative">
                        </div> <!-- end of image-wrapper -->
                        <p class="p-large"><strong>Juan Jose Cortes</strong></p>
                        <p class="job-title">Estudiante de psicología
                            Encargado del área de gestión en la organización Crearlabs.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/juanjo_cortesm/?igshid=yhmlxtzzv75z">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span></span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/danielcarreño.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Daniel Carreño</strong></p>
                        <p class="job-title">Profesional en Dirección y Producción de cine y tv.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/danielfcv21/?igshid=1ri8qum04it14">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/paulagonzales.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Paula González</strong></p>
                        <p class="job-title">Estudiante de Ingeniería industrial- Amante de la música, me gusta estar en constante aprendizaje, en especial de las artes. </p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/m_paula0803/?igshid=1nisrwd2wylaq">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/karenbernal.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Karen Bernal</strong></p>
                        <p class="job-title">Comunicadora Social – Periodista
                            Con conocimiento y habilidades para la redacción y creación de piezas audiovisuales.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/_karenbernal_/?igshid=1gm2aqdg47tl5">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/lauratorres.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Laura Torres</strong></p>
                        <p class="job-title">Estudiante de derecho
                            Me gusta leer y conocer sobre las diversas artes para de este modo incorporarlas en mi carrera.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/lauravanessaa_/?igshid=1t9h7s5o6mdg4">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/ximena.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Ximena Rodríguez</strong></p>
                        <p class="job-title">Comunicadora social y periodista
                            Me apasiona la radio, la edición de videos y la redacción.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/ximena.rodriguezm/?igshid=go5bgh7clijt">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/Tatiana Murillo.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Tatiana Murillo</strong></p>
                        <p class="job-title">Realizadora audiovisual
                            Me gusta poder crear, construir y aprender en este mágico mundo de las artes.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/tatiana.murillo98/?igshid=1wpb4snrioga9">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->


                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/andrespastana.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Andrés Pastrana</strong></p>
                        <p class="job-title">Estudiante de mercadeo y Publicidad
                            Apasionado por crear y transformar las ideas en realidad.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->




                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->

    <!-- recond About -->
    <div id="recon" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">Reconocimientos</h2>
                    <p class="p-heading p-large">Conoce nuestros reconocimientos recibidos por parte de la alcaldía municipal de Mosquera en la semana de la juventud.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <h3>Categoría impacto cultural</h3>
                    <img class="img-fluid" src="{{base_url()}}assets/images/reconocimiento1.jpeg">

                </div>
                <div class="col-lg-6">
                    <h3>Categoría innovación cultural</h3>
                    <div class="image">
                        <img class="img-fluid" src="{{base_url()}}assets/images/reconocimiento2.jpeg">
                    </div> <!-- end of image wrapper -->
                </div>
            </div> <!-- end of row -->
        </div>
    </div>
    <!-- End recon About -->

    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información de contacto</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Cualquier duda o sugerencia por favor comunicarse al siguiente correo o teléfono o celular></li>
                        <li><i class="fas fa-map-marker-alt"></i>Zabrinsky Festival Internacional de Cine CINE - INDUSTRIA - CULTURA ¡El arte y la cultura proyectados desde el cine!</li>
                        <li><i class="fas fa-phone"></i><a class="turquoise" href="#">+57 300 466 6012</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:Convocatoriazafic@gmail.com">Convocatoriazafic@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row collapse">
                <div class="col-lg-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Evolo</h4>
                        <p>We're passionate about offering some of the best business growth services for startups</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">

                            </li>
                            <li class="media">
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Redes Sociales</h4>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/ZaficFestival" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="mailto:Convocatoriazafic@gmail.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/zafic_festival/?hl=es-la" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.youtube.com/channel/UCFWS0IFJaSNEcodpYHJJ_Xw" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>

                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="http://chikaralife.org/" target="_blank" class="turquoise">Chikara</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="{{base_url()}}assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{base_url()}}assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{{base_url()}}assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="{{base_url()}}assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{base_url()}}assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="{{base_url()}}assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{base_url()}}assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{{base_url()}}assets/js/scripts.js"></script> <!-- Custom scripts -->
    <script src="{{base_url()}}assets/js/dropzone/dropzone.js"></script> <!-- Custom scripts -->
    <script>
        $(document).ready(function() {




        });

    </script>
</body>

</html>
