<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Zafic Festival</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/swiper.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/magnific-popup.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/styles.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/basic.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/dropzone.css" rel="stylesheet">
   

    <!-- Favicon  -->
    <link rel="icon" href="{{base_url()}}assets/images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand col-lg-6" href="{{base_url()}}"><img src="{{base_url()}}assets/images/logo.png" alt="30%" width="70%" height="60%"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#request">Registro</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contactenos</a>
                </li>
            </ul>

        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">Convocatoria abierta ZAFIC 4.0 - 2020. </span>
                            Cápsulas Artísticas</h1>
                            <p class="p-large">Participa en la cuarta edición de Zafic Festival aplicando a alguna de las categorias que traemos este año para ti.
                                ¡¡Conéctate a nuestras redes sociales y entérate de todas las actividades que trae esta edición llena de mucho cine!!</p>
                            <a class="btn-solid-lg page-scroll" href="#request">REGISTRATE</a>
                            <a class="btn-solid-lg document_download" id="Convocatoria_Zafic_2020.rar" name="Convocatoria_Zafic_2020.rar">DOCUMENTACION NECESARIA</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img" src="{{base_url()}}assets/images/red1.png" alt="alternative" width="100%">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>NUESTROS ALIADOS</h3>

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive" src="{{base_url()}}assets/images/crea_labs.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive" src="{{base_url()}}assets/images/chikara.png" alt="alternative">
                                    </div>
                                </div>
                              
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->
    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                   <h2 class="modal-title turquoise" align="center">¡ENHORABUENA!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="black">Tu registro a sido exitoso, en caso de cualquier duda o inquietud  te puedes comunicar al  siguiente correo: <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:Convocatoriazafic@gmail.com">Convocatoriazafic@gmail.com</a></li>.</p>
                    <h2 class="turquoise" align="center">¡GRACIAS!</h2>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="form-control-submit-button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal <button class="Mymodal" id="Mymodal"> modal</button> -->
    
    
    
    <!-- Request -->
    <div id="request" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>FORMULARIO DE REGISTRO CONVOCATORIA 2020</h2>
                        <p>Participa en la cuarta edición de Zafic Festival aplicando a alguna de las categorias que traemos este año para ti.</p>
                        <p>Para participar en la cuarta edición de Zafic Festival debes tener los siguientes documentos debidamente diligenciados de acuerdo a la cápsula que vas a aplicar, luego de tener todos los documentos deben ser subidos a un google drive y compartornos la carpeta a través de un link con su respectivos permisos.</p>
                        
                        <h4>Cápsula cinematográfica</h4>
                        <h6>Categorias:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check">
                                    </i>
                                <div class="media-body"><strong class="blue">Ficción</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="yellow">Documental</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="gold">Experimental</strong>.
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Videoclip</strong> </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Publicitaria</strong> </div>
                            </li>
                        </ul>
                        <h6>Documentacion:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Hoja de vida</strong> o presentación de trayectoria del/de los integrante(s)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="yellow">Afiche del cortometraje</strong> en alta definición. (Jpeg o Png)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="gold">Foto del rodaje</strong> Mínimo 1 Foto fija del rodaje.
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Enlace de Vimeo o YouTube</strong> de la película en HD o Full HD.(en caso de tener una clave para poder acceder al proyecto porfavor aduntarla tambien)</div>
                            </li> 
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Anexo 1 </strong>(<a class="document_download" id="Cápsula Cinematográfica.pdf" name="Cápsula Cinematográfica.pdf"><u>Cápsula Cinematográfica.pdf</u></a>)  Permisos de exhibición de la película, ficha técnica y sinopsis.</div>
                            </li>
                        </ul>
                        <h4>Cápsula literaria</h4>
                         <h6>Categorias:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check">
                                    </i>
                                <div class="media-body"><strong class="blue">Cuentos - Guiones</strong></div>
                            </li>
                        </ul>
                        <h6>Documentacion:</h6>
                         <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Hoja de vida</strong> o presentación de trayectoria del/de los integrante(s)</div>
                            </li>
                             <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Documento PDF del escrito a concursar. </strong> (Incluir nombre del autor, título de la obra y año de creación)</div>
                            </li> 
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Anexo 1 </strong>(<a class="document_download" id="Cápsula literaria.pdf" name="Cápsula literaria.pdf"><u> Cápsula literaria.pdf</u></a>)  Permisos de exhibición de la película, ficha técnica y sinopsis.</div>
                            </li>
                        </ul>
                        
                        <h4> Cierre de convocatoria :</h4> 
                        10 de noviembre del 2020 - 24:00 hrs (Colombia)
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Request Form -->
                    <div class="form-container">
                        {{form_open(base_url('Welcome/validate'),'id="frm_agregar_caida"')}}
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Convocatoria a aplicar</label></h6>
                            <select class="form-control" id="USER_convocatoria" name="USER_convocatoria">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Cápsula cinematográfica</option>
                                <option value="2">Cápsula literaria</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Cátegoria a aplicar</label></h6>
                            <select class="form-control" id="USER_convocatoria" name="USER_categoria">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Ficción</option>
                                <option value="2">Documental</option>
                                <option value="3">Experimental</option>
                                <option value="4">Videoclip</option>
                                <option value="5">Publicitaria</option>
                                <option value="6">Cuentos - Guiones</option>
                            </select>
                        </div>
                        <div class="form-group">
                           <h6><label for="exampleFormControlSelect1">Nombre del representante</label></h6>
                            <input type="text" name="USER_names" id="ATCN_names" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Apellido del representante</label></h6>
                            <input type="text" name="USER_lastnames" id="USER_lastnames" class="form-control" required>
                        </div>
                        <div class="form-group">
                           <h6> <label for="exampleFormControlSelect1">Tipo de documento</label></h6>
                            <select class="form-control" id="USER_FK_type_identification" name="USER_FK_type_identification">
                                <option value="0">Selecciona una opción</option>
                                <option value="1">Cedula de Ciudadania</option>
                                <option value="2">Cedula de Extranjeria</option>
                                <option value="3">Documento de identidad</option>
                                <option value="4">Pasaporte</option>
                                <option value="5">Otro</option>
                                {
                            </select>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Numero de documento</label></h6>
                            <input type="text" name="USER_identification" id="USER_identification" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Pais</label></h6>
                            <input type="text" name="USER_country" id="USER_country" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Ciudad</label></h6>
                            <input type="text" name="USER_city" id="USER_city" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Correo electronico</label></h6>
                            <input type="email" name="USER_email" id="USER_email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Telefono</label></h6>
                            <input type="text" name="USER_telephone" id="USER_telephone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Link del proyecto</label></h6>
                            <input type="text" name="USER_address" id="USER_address" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><h6>Llave dinamica del proyecto</h6>Este campo aplica para los proyectos cuyo enlace necesite una clave para poder ingresar</label>
                            <input type="text" name="USER_address_key" id="USER_address_key" class="form-control" >
                        </div>
                        <div class="form-group">
                           <h6> <label for="exampleFormControlSelect1">Adjuntar documentacion</label></h6>Se deben adjuntar link de google drive de la carpeta donde se encuentre la documentacion anteriormente nombrada con sus respectivos permisos.
                            <br>
                            <input type="text" name="USER_file" id="USER_file" class="form-control" required>
                        </div>
                        <div class="form-group">
                                <h6> <label for="exampleFormControlSelect1">Terminos y condiciones</label></h6> Al registrarse en la convocatoria se estan aceptando el manejo de la informacion bridada  y a la proteccion de esta misma.
                                <br>
                                <input type="checkbox" id="cbox1" value="first_checkbox" required> Acepto  los terminos y condiciones 
                            </div>
                        <div class="modal-footer">
                            <div id="alertas" class="alert alert-danger collapse">
                                <a href="#" class="close_alert" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong id="titleAlert"></strong> <span id="textAlert"></span>
                            </div>
                            <div class="col-sm-12">
                            <button type="submit" class="form-control-submit-button" id="registrar">REGISTRAR</button>
                                </div>
                        </div>
                        {{form_close()}}
                    </div>

                </div> <!-- end of form-container -->
                <!-- end of request form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of form-1 -->
    <!-- end of request -->


    <!-- Video -->
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">CONVOCATORIA ZAFIC  20.20 </h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=_D_b0bglEhQ" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}assets/images/Captura.png" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of video -->

    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Informacion de contacto</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Cuelquier duda o sugerencia porfavor comunicarse al siguiente correo o telefonoo celular</li>
                        <li><i class="fas fa-map-marker-alt"></i>Zabrinsky Festival Internacional de Cine CINE - INDUSTRIA - CULTURA ¡El arte y la cultura proyectados desde el cine!</li>
                        <li><i class="fas fa-phone"></i><a class="turquoise" href="#">+57 300 466 6012</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:Convocatoriazafic@gmail.com">Convocatoriazafic@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row collapse">
                <div class="col-lg-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Evolo</h4>
                        <p>We're passionate about offering some of the best business growth services for startups</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                
                            </li>
                            <li class="media">
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Redes Sociales</h4>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/ZaficFestival"target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                       
                        <span class="fa-stack">
                            <a href="mailto:Convocatoriazafic@gmail.com"target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/zafic_festival/?hl=es-la"target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.youtube.com/channel/UCFWS0IFJaSNEcodpYHJJ_Xw"target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                        
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="http://chikaralife.org/" target="_blank" class="turquoise">Chikara</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="{{base_url()}}assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{base_url()}}assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{{base_url()}}assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="{{base_url()}}assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{base_url()}}assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="{{base_url()}}assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{base_url()}}assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{{base_url()}}assets/js/scripts.js"></script> <!-- Custom scripts -->
    <script src="{{base_url()}}assets/js/dropzone/dropzone.js"></script> <!-- Custom scripts -->  
    <script>
        $(document).ready(function() {
            $("#frm_agregar_caida").submit(function(event) {
                event.preventDefault();
                var formData = new FormData(document.getElementById("frm_agregar_caida"));
                $.ajax({
                    url: '{{ base_url() }}Welcome/agregar',
                    type: 'POST',
                    data: formData,
                    cache : false,
                    dataType    : 'json',
                    processData : false,
                    contentType: false,
                    success: function(data, xhr,response) {
                        $("#frm_agregar_caida")[0].reset();
                        $('#mymodal').modal('show');
                        $('#alertas').removeClass('alert-danger');
                        $('#alertas').addClass('alert-success');
                        $("#titleAlert").html('EXITOSO: ');
                        $("#textAlert").html('¡enhorabuena! usuario registrado exitosamente');
                        $("#alertas").show('fade');
                        $('.spinner-wrapper').attr("style","display: none;");
                        
                    },
                    error: function(xhr) {
                        console.log(xhr);
                        $('#alertas').removeClass('alert-success');
                        $('#alertas').addClass('alert-danger');
                        $("#titleAlert").html('ERROR: ');
                        $("#textAlert").html(xhr.responseJSON.msg);
                        $("#alertas").show('fade');
                        $('.spinner-wrapper').attr("style","display: none;");
                        
                    }

                });
            });
            
            $(".document_download").on('click', function(e) {
                let file = this.id;
                window.open('{{ base_url() }}Welcome/descargar/'+file, '_blank');
            });
            
            $(".close_alert").on('click', function(e) {
                $('#alertas').removeClass('collapse');
            });
            $("#Mymodal").on('click', function(e) {
                $('#mymodal').modal('show');
            });
            $("#registrar").on('click', function(e) {
                $('.spinner-wrapper').attr("style","display: block;");
            });


        });
    </script>
</body>

</html>
