<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Zafic Festival</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/swiper.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/magnific-popup.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/styles.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/basic.css" rel="stylesheet">
    <link href="{{base_url()}}assets/css/dropzone.css" rel="stylesheet">


    <!-- Favicon  -->
    <link rel="icon" href="{{base_url()}}assets/images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand col-lg-6" href="{{base_url()}}"><img src="{{base_url()}}assets/images/logo.png" alt="30%" width="70%" height="60%"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#request">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#recon">Reconocimientos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contáctenos</a>
                </li>
            </ul>

        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">Convocatoria abierta ZAFIC 4.0 - 2020. </span>
                                Cápsulas Artísticas</h1>
                            <p class="p-large">Participa en la cuarta edición de Zafic Festival aplicando a alguna de las categorías que traemos este año para ti.
                                ¡¡Conéctate a nuestras redes sociales y entérate de todas las actividades que trae esta edición llena de mucho cine!!</p>
                            <a class="btn-solid-lg page-scroll" href="#request">REGÍSTRATE</a>
                            <a class="btn-solid-lg document_download" id="Convocatoria_Zafic_2020.rar" name="Convocatoria_Zafic_2020.rar">DOCUMENTACIÓN NECESARIA</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img" src="{{base_url()}}assets/images/red1.png" alt="alternative" width="100%">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>NUESTROS ALIADOS</h3>

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive" src="{{base_url()}}assets/images/crea_labs.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container">
                                        <img class="img-responsive" src="{{base_url()}}assets/images/chikara.png" alt="alternative">
                                    </div>
                                </div>

                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->
    
    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title turquoise" align="center">¡ENHORABUENA!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="black">Tu registro ha sido exitoso, en caso de cualquier duda o inquietud te puedes comunicar al siguiente correo: <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:Convocatoriazafic@gmail.com">Convocatoriazafic@gmail.com</a></li>.</p>
                    <h2 class="turquoise" align="center">¡GRACIAS!</h2>

                </div>
                <div class="modal-footer">
                    <button type="button" class="form-control-submit-button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal <button class="Mymodal" id="Mymodal"> modal</button> -->



    <!-- Request -->
    <div id="request" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 class="turquoise">FORMULARIO DE REGISTRO CONVOCATORIA 2020</h2>
                        <p>Para el año 2020, el festival se dividirá en 2 Cápsulas; cada una contará con
                            un arte como línea principal, desde las cuales nacerán las categorías que serán evaluadas y
                            premiadas por los jurados.
                            Es importante resaltar que Zafic Festival orientará cada una de las cápsulas hacia (o desde) su
                            fin principal, el cine
                        </p>
                        <p>Para participar debes tener los siguientes documentos debidamente diligenciados de acuerdo
                            con la cápsula que se pretende aplicar. Luego deben ser compartidos a través de una carpeta
                            de Google Drive, adjuntando un link de acceso.</p>
                        <p>Todos los proyectos presentados deben ser desde el año 2015 en adelante</p>

                        <h4>Cápsula cinematográfica</h4>
                        
                        <h6>Descripción:</h6>
                        <p>Zafic Festival invita a artistas, creadores audiovisuales y gestores culturales a
                            participar enviando sus películas a la Cápsula Cinematográfica 2020. La 4ª edición del
                            festival busca mostrar los mejores proyectos en espacios alternativos que puedan ampliar su
                            alcance y dar a conocer nuevos talentos en el territorio latinoamericano
                        </p>
                        <h6>No pueden participar:</h6>
                        <p>Artistas, creadores audiovisuales o gestores culturales que no hayan
                            cumplido la mayoría de edad. Excepto que tengan un permiso expedido por sus acudientes
                            para participar en el festival, dicho documento debe estar firmado. Se debe anexar el
                            documento de identidad que certifique la mayoría de edad del acudiente y la relación que
                            tiene con el participante.</p>
                        <h6>Categorías :</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check">
                                </i>
                                <div class="media-body"><strong class="blue">Ficción</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="yellow">Documental</strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="gold">Experimental</strong>.
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Videoclip</strong> </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Publicitaria</strong> </div>
                            </li>
                        </ul>
                        <h6>Documentación:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Hoja de vida</strong> o presentación de trayectoria del/de los integrante(s)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="yellow">Afiche del cortometraje</strong> en alta definición. (Jpeg o Png)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="gold">Foto del rodaje</strong> Mínimo 1 Foto fija del rodaje.
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Enlace de Vimeo o YouTube</strong> de la película en HD o Full HD.(en caso de tener una clave para poder acceder al proyecto porfavor aduntarla tambien)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Anexo 1 </strong>(<a class="document_download" id="Cápsula Cinematográfica.pdf" name="Cápsula Cinematográfica.pdf"><u>Cápsula Cinematográfica.pdf</u></a>) Permisos de exhibición de la película, ficha técnica y sinopsis.</div>
                            </li>
                        </ul>
                        <h4>Cápsula literaria</h4>
                        
                         <h6>Descripción:</h6>
                        <p>ZFestival invita a artistas, creadores audiovisuales y gestores culturales a
                            participar enviando sus escritos a la Cápsula Literaria 2020. La 4ª edición del festival busca
                            mostrar los mejores proyectos en espacios alternativos que puedan ampliar su alcance y dar
                            a conocer nuevos talentos en el territorio latinoamericano.
                        </p>
                        <h6>No pueden participar:</h6>
                        <p>Artistas, escritores y personas en general que no hayan cumplido la
                            mayoría de edad. Excepto que tengan un permiso expedido por sus acudientes para
                            participar en el festival, dicho documento debe estar firmado. Se debe anexar el documento
                            de identidad que certifique la mayoría de edad del acudiente y la relación que tiene con el
                            participante.</p>
                        
                        <h6>Categorías:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check">
                                </i>
                                <div class="media-body"><strong class="blue">Cuentos - Guiones</strong></div>
                            </li>
                        </ul>
                        <h6>Documentación:</h6>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Hoja de vida</strong> o presentación de trayectoria del/de los integrante(s)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Documento PDF del escrito a concursar. </strong> (Incluir nombre del autor, título de la obra y año de creación)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Anexo 1 </strong>(<a class="document_download" id="Cápsula literaria.pdf" name="Cápsula literaria.pdf"><u> Cápsula literaria.pdf</u></a>) Permisos de exhibición de la película, ficha técnica y sinopsis.</div>
                            </li>
                        </ul>

                        <h4> Cierre de convocatoria :</h4>
                        1Hora y fecha 10 noviembre del 2020 – 23:59 hrs (Colombia)
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Request Form -->
                    <div class="form-container">
                        {{form_open(base_url('Welcome/validate'),'id="frm_agregar_caida"')}}
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Convocatoria a aplicar</label></h6>
                            <select class="form-control" id="USER_convocatoria" name="USER_convocatoria">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Cápsula cinematográfica</option>
                                <option value="2">Cápsula literaria</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Cátegoria a aplicar</label></h6>
                            <select class="form-control" id="USER_convocatoria" name="USER_categoria">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Ficción</option>
                                <option value="2">Documental</option>
                                <option value="3">Experimental</option>
                                <option value="4">Videoclip</option>
                                <option value="5">Publicitaria</option>
                                <option value="6">Cuentos - Guiones</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Nombre del representante</label></h6>
                            <input type="text" name="USER_names" id="ATCN_names" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Apellido del representante</label></h6>
                            <input type="text" name="USER_lastnames" id="USER_lastnames" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6> <label for="exampleFormControlSelect1">Tipo de documento</label></h6>
                            <select class="form-control" id="USER_FK_type_identification" name="USER_FK_type_identification">
                                <option value="0">Selecciona una opción</option>
                                <option value="1">Cedula de Ciudadania</option>
                                <option value="2">Cedula de Extranjeria</option>
                                <option value="3">Documento de identidad</option>
                                <option value="4">Pasaporte</option>
                                <option value="5">Otro</option>
                                {
                            </select>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Número de documento</label></h6>
                            <input type="text" name="USER_identification" id="USER_identification" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">País</label></h6>
                            <input type="text" name="USER_country" id="USER_country" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Ciudad</label></h6>
                            <input type="text" name="USER_city" id="USER_city" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Correo electrónico</label></h6>
                            <input type="email" name="USER_email" id="USER_email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Teléfono</label></h6>
                            <input type="text" name="USER_telephone" id="USER_telephone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6><label for="exampleFormControlSelect1">Link del proyecto</label></h6>
                            <input type="text" name="USER_address" id="USER_address" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                <h6>Llave dinámica del proyecto</h6>Este campo aplica para los proyectos cuyo enlace necesite una clave para poder ingresar.
                            </label>
                            <input type="text" name="USER_address_key" id="USER_address_key" class="form-control">
                        </div>
                        <div class="form-group">
                            <h6> <label for="exampleFormControlSelect1">Adjuntar documentación</label></h6>Se deben adjuntar link de google drive de la carpeta donde se encuentre la documentación anteriormente nombrada con sus respectivos permisos.
                            <br>
                            <input type="text" name="USER_file" id="USER_file" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6> <label for="exampleFormControlSelect1">Términos y condiciones</label></h6> Al registrarse en la convocatoria se están aceptando el manejo de la Información bridada y a la protección de esta misma.
                            <br>
                            <input type="checkbox" id="cbox1" value="first_checkbox" required> Acepto los <a class="document_download" id="POLÍTICA DE PRIVACIDAD.pdf" name="POLÍTICA DE PRIVACIDAD.pdf"><u>Términos y condiciones</u></a> 
                        </div>
                        <div class="modal-footer">
                            <div id="alertas" class="alert alert-danger collapse">
                                <a href="#" class="close_alert" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong id="titleAlert"></strong> <span id="textAlert"></span>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="form-control-submit-button" id="registrar">REGISTRAR</button>
                            </div>
                        </div>
                        {{form_close()}}
                    </div>

                </div> <!-- end of form-container -->
                <!-- end of request form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of form-1 -->
    <!-- end of request -->


    <!-- Video -->
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">CONVOCATORIA ZAFIC 20.20 </h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=_D_b0bglEhQ" data-effect="fadeIn">
                                <img class="img-fluid" src="{{base_url()}}assets/images/Captura.png" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->


                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of video -->


    <!-- About -->
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">Nuestro equipo</h2>
                    <p class="p-heading p-large">Conoce nuestro gran equipo de trabajo, con el cual estamos haciendo posible nuestro festival zafic 4.0</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                     
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/pipe.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Felipe Suarez</strong></p>
                        <p class="job-title">Cineasta y Gestor cultural
Fundador y director de Zafic Festival.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/felipe.suarez.f/?igshid=77k25ei8eg8r">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                     <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/mariafernanda.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>María Fernanda Cardona</strong></p>
                        <p class="job-title">Estudiante de contaduria publica
Amante de los libros y las finanzas. Me gusta la publicidad y el arte.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/mafecardona97/?igshid=qmp99924mvaz">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/lauraruge.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Laura Ruge</strong></p>
                        <p class="job-title">Estudiante de Ingeniería Industrial
Soy sensible hacia la labor social y tengo un gusto particular por la danza y el arte en general.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/laura.ruge.9/?igshid=lrj3h8g5l12o">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/jesus.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Jesus Castellanos</strong></p>
                        <p class="job-title">Ingeniero de sistemas enfocado en desarrollo y calidad de software, fotógrafo y representante legal de Chikara.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/yisus_photo/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/donjuan.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Juan Albornoz</strong></p>
                        <p class="job-title">Primer integrante del equipo Zafic Festival
En la actualidad ya soy adulto mayor, Soy un apasionado por la escritura, la lectura y el cine, me gusta coleccionar y clasificar las películas de formas únicas.
</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/jerson.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Jerson  Berbeo Rozo</strong></p>
                        <p class="job-title">Director de Crearlabs con diplomados internacionales en proyectos de innovación.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/crearlabs/?igshid=1liy0fxwhsyi9">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                     <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/ricardo.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Ricardo Mayorca</strong></p>
                        <p class="job-title">Ingeniero electrónico y profesor de idioma y cultura japonés en Chikara.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/juan_cortes.png" alt="alternative">
                        </div> <!-- end of image-wrapper -->
                        <p class="p-large"><strong>Juan Jose Cortes</strong></p>
                        <p class="job-title">Estudiante de psicología
                            Encargado del área de gestión en la organización Crearlabs.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/juanjo_cortesm/?igshid=yhmlxtzzv75z">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span></span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/danielcarreño.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Daniel Carreño</strong></p>
                        <p class="job-title">Profesional en Dirección y Producción de cine y tv.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/danielfcv21/?igshid=1ri8qum04it14">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/paulagonzales.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Paula González</strong></p>
                        <p class="job-title">Estudiante de Ingeniería industrial- Amante de la música, me gusta estar en constante aprendizaje, en especial de las artes. </p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/m_paula0803/?igshid=1nisrwd2wylaq">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/karenbernal.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Karen Bernal</strong></p>
                        <p class="job-title">Comunicadora Social – Periodista
                            Con conocimiento y habilidades para la redacción y creación de piezas audiovisuales.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/_karenbernal_/?igshid=1gm2aqdg47tl5">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/lauratorres.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Laura Torres</strong></p>
                        <p class="job-title">Estudiante de derecho
Me gusta leer y conocer sobre las diversas artes para de este modo incorporarlas en mi carrera.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/lauravanessaa_/?igshid=1t9h7s5o6mdg4">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/ximena.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Ximena Rodríguez</strong></p>
                        <p class="job-title">Comunicadora social y periodista
Me apasiona la radio, la edición de videos y la redacción.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/ximena.rodriguezm/?igshid=go5bgh7clijt">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/Tatiana Murillo.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Tatiana Murillo</strong></p>
                        <p class="job-title">Realizadora audiovisual
Me gusta poder crear, construir y aprender en este mágico mundo de las artes.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/tatiana.murillo98/?igshid=1wpb4snrioga9">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid people" src="{{base_url()}}assets/images/andrespastana.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Andrés Pastrana</strong></p>
                        <p class="job-title">Estudiante de mercadeo y Publicidad
Apasionado por crear y transformar las ideas en realidad.</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>

                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                    
                   
                    
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->
    
    <!-- recond About -->
    <div id="recon" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="turquoise">Reconocimientos</h2>
                    <p class="p-heading p-large">Conoce nuestros reconocimientos recibidos por parte de la alcaldía municipal de Mosquera en la semana de la juventud.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <h3>Categoría impacto cultural</h3>
                            <img class="img-fluid" src="{{base_url()}}assets/images/reconocimiento1.jpeg"  >
                        
                </div>
                <div class="col-lg-6">
                    <h3>Categoría innovación cultural</h3>
                    <div class="image">
                            <img class="img-fluid" src="{{base_url()}}assets/images/reconocimiento2.jpeg" >
                        </div> <!-- end of image wrapper -->
                </div>
            </div> <!-- end of row -->
        </div>
    </div>
    <!-- End recon About -->
    
    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información de contacto</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Cuelquier duda o sugerencia por favor comunicarse al siguiente correo o teléfono o celular</li>
                        <li><i class="fas fa-map-marker-alt"></i>Zabrinsky Festival Internacional de Cine CINE - INDUSTRIA - CULTURA ¡El arte y la cultura proyectados desde el cine!</li>
                        <li><i class="fas fa-phone"></i><a class="turquoise" href="#">+57 300 466 6012</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:Convocatoriazafic@gmail.com">Convocatoriazafic@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row collapse">
                <div class="col-lg-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">

                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Evolo</h4>
                        <p>We're passionate about offering some of the best business growth services for startups</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">

                            </li>
                            <li class="media">
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Redes Sociales</h4>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/ZaficFestival" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="mailto:Convocatoriazafic@gmail.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/zafic_festival/?hl=es-la" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.youtube.com/channel/UCFWS0IFJaSNEcodpYHJJ_Xw" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>

                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="http://chikaralife.org/" target="_blank" class="turquoise">Chikara</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="{{base_url()}}assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{base_url()}}assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{{base_url()}}assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="{{base_url()}}assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{base_url()}}assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="{{base_url()}}assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{base_url()}}assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{{base_url()}}assets/js/scripts.js"></script> <!-- Custom scripts -->
    <script src="{{base_url()}}assets/js/dropzone/dropzone.js"></script> <!-- Custom scripts -->
    <script>
        $(document).ready(function() {
            $("#frm_agregar_caida").submit(function(event) {
                event.preventDefault();
                var formData = new FormData(document.getElementById("frm_agregar_caida"));
                $.ajax({
                    url: '{{ base_url() }}Welcome/agregar',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function(data, xhr, response) {
                        $("#frm_agregar_caida")[0].reset();
                        $('#mymodal').modal('show');
                        $('#alertas').removeClass('alert-danger');
                        $('#alertas').addClass('alert-success');
                        $("#titleAlert").html('EXITOSO: ');
                        $("#textAlert").html('¡enhorabuena! usuario registrado exitosamente');
                        $("#alertas").show('fade');
                        $('.spinner-wrapper').attr("style", "display: none;");

                    },
                    error: function(xhr) {
                        console.log(xhr);
                        $('#alertas').removeClass('alert-success');
                        $('#alertas').addClass('alert-danger');
                        $("#titleAlert").html('ERROR: ');
                        $("#textAlert").html(xhr.responseJSON.msg);
                        $("#alertas").show('fade');
                        $('.spinner-wrapper').attr("style", "display: none;");

                    }

                });
            });

            $(".document_download").on('click', function(e) {
                let file = this.id;
                window.open('{{ base_url() }}Welcome/descargar/' + file, '_blank');
            });

            $(".close_alert").on('click', function(e) {
                $('#alertas').removeClass('collapse');
            });
            $("#Mymodal").on('click', function(e) {
                $('#mymodal').modal('show');
            });
            $("#registrar").on('click', function(e) {
                $('.spinner-wrapper').attr("style", "display: block;");
            });


        });

    </script>
</body>

</html>
