{% extends "tools/base_dashboard.twig" %}
{% block title %}perfil{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
    <div class="col-lg-14">
        <div class="card card-user">
            <div class="card-image">
                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="{{base_url()}}assets/img/faces/face-3.jpg" alt="...">
                        <h5 class="title">{{ session.name }} {{ session.lastname}}</h5>
                    </a>
                    <p class="description">
                        {{ session.username}}
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="col-md-14">
        <div class="card card-tasks">
            <div class="card-header ">
                <h4 class="card-title">Pendientes</h4>
            </div>
            <div class="card-body ">
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <td>1) clase de bilogia</td>
                                
                            </tr>
                            <tr>
                                <td>2) clase de español</td>
                                
                            </tr>
                            
                            
                            </tbody>
                    </table>
                
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Editar Perfil</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Company (disabled)</label>
                                <input type="text" class="form-control" disabled="" placeholder="Company" value="Nombre del colegio al que pertenece">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username" value="{{session.username}}">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email </label>
                                <input type="email" class="form-control" placeholder="{{session.email}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" placeholder="Company" value="{{session.name}}">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Last Name" value="{{session.lastname}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Home Address" value="{{session.address}}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
{% block script %}
{% endblock %}
{% endblock %}
